.grid {
  display: grid;
  gap: 22px;
  grid-template-columns: 1fr;

}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    /* tablette par défaut */
  }
}

/* Desktop : dépend de data-cols */
@media (min-width: 996px) {
  .grid[data-cols="2"] {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .grid[data-cols="3"] {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .grid[data-cols="4"] {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.item {
  height: 100%;
}